﻿.home {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  &__button {
    height: 15em;
    width: 15em;
    background-color: deepskyblue;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5em;
    font-size: 16px;
    margin: 1em;
  }
}