﻿.connect-four {
  &__row {
    width: 100%;
  }

  &__button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em;
  }

  &__victory {
    width: 100%;
    background-color: deepskyblue;
    color: white;
    padding: 1em;
  }

  &__text {
    color: white;
  }
}